
<!DOCTYPE html>
<html lang="id">
    <head>
        <title>KUV API</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1.0, user-scalable=0"/>
        <meta name="author" content="COGNITA"/>
        <meta name="description" content="404">
        
        <link rel="manifest" href="/static/icon/manifest.json">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/icon/profile.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/icon/profile.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/icon/profile.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/profile.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/profile.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/profile.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/icon/profile.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/static/icon/profile.png">
        <link rel="shortcut icon" type="image/x-icon" href="/static/icon/profile.ico">
        
      <link rel="stylesheet" href="/static/css/errorpage.css"/>
      <link rel="stylesheet" href="/static/fontawesome/css/all.min.css"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:700">
        <audio autoplay="autoplay" hidden="hidden" src="https://g.top4top.io/m_1958498tp0.mp3"></audio>
    </head>
    <body>
      <div id="notfound">
        <div class="notfound-bg">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="notfound">
          <div class="notfound-error">
            <h1>ERROR</h1>
          </div>
          <h2>404</h2>
          <p>Creator: COGNITA</p>
          <a href="https://kuv-api.herokuapp.com/api">Back to Menu</a>
          <div class="notfound-social">
            <a href="https://instagram.com/rinkashikimoz_">Instagram</a>
            <a href="https://github.com/KUVIANTIINDONESIANET">Github</a>
            <a href="https://github.com/rinkashikimo gaming">Facebook</a>
            <a href="https://wa.me/6287717710182">Whatsapp</a>
          </div>
        </div>
      </div>
    </body>
</html>
